@use 'src/styles/var';
/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import './familyRubik.css';
/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import './familyUbuntuMono.css';

@font-face {
  font-family: Fallback;
  src: local(system-ui), local(-apple-system), local(BlinkMacSystemFont),
    local(Segoe UI), local(Roboto), local(Ubuntu), local(Helvetica),
    local(Arial), local(sans-serif);
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-size: 16px;
  font-family: Rubik, Fallback;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

::selection {
  background: rgba(var.$color-text, 0.15);
}

#app {
  width: 100vw;
  height: 100vh;
}
